body {
  font-family: Arial, sans-serif;
  background-color: bisque;
  }
  .login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: bisque;
  margin: 0;
  padding: 0;
  }
  .home-container , .register-container, .info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: bisque;
  margin: 0;
  padding: 0;
  }
  .input-group {
  margin-bottom: 10px;
  }
  .input-field {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 35px;
  width: 100%;
  }
  h1, h2 {
  color: #43a843;
  }
  form {
  display: flex;
  flex-direction: column;
  align-items: center;
  }
  input, button {
  margin: 5px;
  padding: 10px;
  font-size: 16px;
  }
  button {
  background-color: green;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  }
  button:hover {
  background-color: hsl(136, 85%, 50%);
  
  }
  .error {
  color: red;
  }
  ul {
  list-style: none;
  padding: 0;
  }
  ul li {
  margin: 10px 0;
  }
/*user info styles*/
.user-info-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Adjust height as needed */
}

.user-info {
  max-width: 800px; /* Adjust max-width as needed */
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
