:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: white;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  }
  
  a {
  font-weight: 500;
  color: black;
  text-decoration: inherit;
  }
  
  a:hover {
  color: green;
  }
  
  body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  }
  
  h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin-bottom: 1em;
  }
  
  h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px auto;
  position: absolute;
  left: 50%;
  top: 3%;
  transform: translate(-50%, -50%);
  }
  .input-field {
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 400;
  font-family: inherit;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 100%;
  margin-bottom: 1em;
  color:black;
  }
  
  
  .error {
  color: #ff0000;
  font-size: 0.8em;
  margin-top: 0.5em;
  }
  
  @media (prefers-color-scheme: light) {
  :root {
  color: #1882de;
  background-color: #ffffff;
  }
  a:hover {
  color: #747bff;
  }
  .btn-primary {
  background-color: #f9f9f9;
  }
  }
